<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>

  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link href="/css/up.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'
  rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <link href="/css/font-awesome-ie7.css" rel="stylesheet">
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="apple-touch-icon" href="/apple-touch-icon.jpg" />
  <script>
  $(document).ready(function () {
          $('ul.nav > li').click(function (e) {
              e.preventDefault();
              $('ul.nav > li').removeClass('active');
              $(this).addClass('active');                
          });            
      });
  </script>
</head>

<body>
  

  <div class="container">
      <div class="row-fluid">
        <div id="sidebar" class="span2">
              <img  src="/images/unsurelogo.png" alt="unsure.org" class="noclip" style="margin-top: 25px" />
              <ul class="nav nav-pills nav-stacked">
                <li class="nav-header">...poorly updated since 2003</li>
                <li data-toggle="tab"><a href="/index.html">Index</a></li>
                <li data-toggle="tab"><a href="/about.html">About</a></li>
                <li data-toggle="tab"><a href="/archive.html">Archive</a></li>
        </div>
        <div id="content" class="span10">
          {{ content }}
        </div>
  </div>

  <div id="footer">
    <section class="meta">
      <div class="container">
        <div class="row">
          <div class="span1"></div>
          <div class="span2">
            <a href="https://twitter.com/{{ site.author.twitter }}">
              <i class="icon icon-twitter icon-4x"></i>
              <div>Follow me on Twitter.</div>
            </a>
          </div>
          <div class="span2"></div>
          <div class="span2">
            <a href="https://github.com/{{ site.author.github }}">
              <i class="icon icon-github icon-4x"></i>
              <div>
                See my github profile.
              </div>
            </a>
          </div>
          <div class="span2"></div>
          <div class="span2">
            <a href="/atom.xml">
              <i class="icon icon-rss icon-4x"></i>
              <div>Follow me on <del>Reader</del>.</div>
            </a>
          </div>
          <div class="span1"></div>
        </div>
      </div>
    </section>
  </div>
  {% include analytics.html %}
  {% include gauges.html %}
</body>

</html>
